node_modules/
package-lock.json
/pkg
/*.tgz
DEBUG-*/
/.yarn/cache
/.yarn/install-state.gz
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/patches
/.yarn/plugins
/.yarn/sdks
/.yarn/versions
wget-log
yarn-error.log
/dist
/src/generated-icons.ts


